*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #121214;

    h1{
        font-size: 2rem !important;
        margin-bottom: 1rem;
    }
}